@font-face {
  font-family: 'Quicksand';
  src: url(../font/Quicksand-Medium.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand';
}
:root {
  --primary: #777;
  --secondary : #333;
  --tertiary : #7e0000;
}
body{
  background-color: var(--primary);
}
nav{
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 50px;
  height: 10vh;
  display: flex;
  flex-direction: row;
  font-family: 'DS-DIGIT';
  justify-content: space-between;
}
#curve_chart {
  width: 90%;
  height: 60vh;
  margin-top: -2rem;
}
.time{
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 0.5rem;
  margin-top: 55px;
  color: var(--secondary);
}
.accuracy{
  width: fit-content;
  height: fit-content;
}
.accuracy p{
  text-align: center;
  color: var(--secondary);
}
.outer { 
  width: 100px;
  height: 100px;
  margin: 10px auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 2s ease;
}
.inner {
  width: 80%;
  height: 80%;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-weight: bolder;
  font-size: 1rem;
}
.wpm-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary);
}

.wpm-unit {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  color: var(--tertiary);
}

#wpm-value {
  transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;
}
.logo h1{
  margin-top: 18px;
  color: #00ffff;
  margin-right: 82%;
  display: flex;
  flex-direction: row;
}
.logo h1 span {
margin-left: 5px;
color: #8a2be2;
}
.logo{
display: flex;
flex-direction: row;
}
.btn {
  width: 11rem;
  height: 3rem;
  margin-left: 42%;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
 }
 
 .btn:hover {
  color: black;
 }
 
 .btn:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
 }
 
 button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }
.stat {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}