@font-face {
  font-family: 'Quicksand';
  src: url(../font/Quicksand-Medium.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand';
}
:root {
  --primary: #777;
  --secondary : #333;
}

#curve_chart {
  width: 90%;
  height: 70vh;
}
.time{
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 0.5rem;
  margin-top: 55px;
  color: #777;
}
.accuracy{
  width: fit-content;
  height: fit-content;

}
.accuracy p{
  text-align: center;
}
.outer { 
  width: 100px;
  height: 100px;
  margin: 10px auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 2s ease;
  box-shadow: -5px -3px 14px 1px #000000, 0px 1px 14px 0px #ffffff;
}
.inner {
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 4px 0px black;
  font-weight: bolder;
  font-size: 1rem;
}
.wpm-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem; /* Make the number big! */
  font-weight: bold;
  color: #333; /* A nice dark color */
}

.wpm-unit {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  color: var(--primary);
}

#wpm-value {
  transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;
}

#btn-restart {
  margin-left: 650px; 
  padding: 10px;
  
}
#btn-restart a{
  text-decoration: none;
}
.tsyaiko {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}