@font-face {
    font-family: 'Quicksand';
    src: url(../font/Quicksand-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

:root{
    --primary: white;
    --secondary: black;
}

body{
    padding: 50px;
    background-color: var(--primary);
    color: var(--secondary);
    transition: all 0.4s ease;
}
nav{
    margin-bottom: 30px;
    padding-inline: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid red;
}
nav h1{
    text-align: center;
    font-size: xx-large;
    margin-top: 15px;
}
 img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}
.switch input {
    opacity: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 2px solid #414141;
    border-radius: 50px;
    transition: all 0.4s ease;
    background-color: aliceblue;
}
.switch input + .slider {
    box-shadow: 0 0 20px rgba(68, 70, 71, 0.8);
    border: 2px solid rgba(68, 70, 71, 0.8);
}
.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.2em;
    bottom: 0.2em;
    background-image: url(../img/soleil.png);
    background-size: contain;
    border-radius: inherit;
    transition: all 0.4s ease;
}
.switch input:checked .slider{
    background-color: #414141;
}
.switch input:checked + .slider {
    box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
    border: 2px solid #0974f1;
    background-color: #414141;
}
  
.switch input:checked + .slider:before {
    transform: translateX(1.5em);
    background-image: url(../img/lune.jpg);
}

.info{
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    height: 70px;
}

#time{
    display: flex;
    flex-direction: row;
}
#word-display{
    animation: 1s fadeIn 1;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; 
    margin-bottom: 30px;
}
header h1{
    font-size: 2.5em;
    margin-bottom: 15px;
}

header label, header select{
    font-size: 1em;
    padding: 5px 10px;
    border: 1px solid #636161;
    border-radius: 5px;
}
.je_sais_pas {
    display: flex;
    flex-direction: row;
    gap: 35px;
    border: 1px solid red;
    justify-content: center;
    width: 80%;
    padding:10px;
    border-radius: 10px;
}
#word-display{
    border: 1px solid red;
    text-align: center;
    font-size: 1.9rem;
}
#keyboard {
    font-size: 2.3rem;

}
#input-field{
    margin-left: 300px;
    margin-top: 20px;
    width: 50%;
    padding: 10px;
}
#keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    max-width: 300px;
    margin-top: 10px;
}
.key {
    padding: 10px;
    text-align: center;
    background: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
}
