@font-face {
    font-family: 'Quicksand';
    src: url(../font/Quicksand-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

:root{
    --primary: white;
    --secondary: black;
    --tertiary: #37404f;
}

body{
    background-color: var(--primary);
    color: var(--secondary);
    transition: all 0.4s ease;
    margin-inline: 40px;
}
nav{
    margin-bottom: 30px;
    margin-top: 30px;
    padding-inline: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    display: flex;
}
nav h1{
    text-align: center;
    font-size: xx-large;
    margin-top: 15px;
}
 img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.info{
    border: 2px solid var(--secondary);
    padding: 10px;
    border-radius: 5px;
    width: 160px;
    height: 50px;
}

#time{
    display: flex;
    flex-direction: row;
}
#word-display{
    animation: 1s fadeIn 1;

}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

header label, header select{
    font-size: 1em;
    padding: 5px 10px;
    border: 1px solid #636161;
    border-radius: 5px;
}
header select{
    margin-right: 40px;
}
#time{
    justify-content: center;
    font-size: 2rem;
    color: var(--tertiary);
}
.je_sais_pas {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    width: 90%;
    padding:10px;
    border-radius: 10px;
}
#word-display{
    text-align: center;
    font-size: 1.9rem;
}
#keyboard {
    font-size: 2.3rem;

}
#input-field{
    margin-left: 25%;
    margin-block: 50px;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
}
#information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    margin-left: 25%;
    width: 50%;
  }

  .key {
    background: #eee;
    border: none;
    padding: 15px;
    font-size: 0.5em;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
  }

  .key:hover {
    background: #ddd;
  }
  .key.special {
    grid-column: span 2;
    background-color: #ccc;
  }


